<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center">
    <h1>Prediction of Iris</h1>
    </div>
<div style="text-align:center">

    <form method="post" action="/save_page/">
        {% csrf_token %}
        <input type="text" placeholder="sepal_length" name="sepal_length" min="0" ><br><br>
        <input type="text" placeholder="sepal_width" name="sepal_width"><br><br>
        <input type="text" placeholder="petal_length" name="petal_length"><br><br>
        <input type="text" placeholder="petal_width" name="petal_width"><br><br>
        <input type="submit" value="Submit">

    

    </form>
    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
    
</div>

</body>
</html>